# Ignore the my folder
Credentials
powershell/fix error The requested operation could not be completed due to a virtual disk system
limitation.  Virtual hard disk files must be uncompressed and unencrypted and must not be sparse. (0xC03A001A)
powershell/fix error The requested operation could not be completed due to a virtual disk system
limitation.  Virtual hard disk files must be uncompressed and unencrypted and must not be sparse. (0xC03A001A)
*. (0xC03A001A)
