git/GitDesk/GitDesk/bin/Release/net9.0-windows/win-x64/publish/GitDesk.exe filter=lfs diff=lfs merge=lfs -text
git/GitDesk/release/GitDesk.exe filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
