version: '3.8'

services:
  pgbouncer:
    image: edoburu/pgbouncer:latest
    container_name: tovplay-pgbouncer
    restart: unless-stopped
    ports:
      - "6432:6432"
    environment:
      - DATABASE_URL=postgres://raz@tovtech.org:CaptainForgotCreatureBreak@45.148.28.196:5432/TovPlay
      - POOL_MODE=transaction
      - MAX_CLIENT_CONN=1000
      - DEFAULT_POOL_SIZE=20
      - MIN_POOL_SIZE=5
      - RESERVE_POOL_SIZE=5
      - MAX_DB_CONNECTIONS=50
      - SERVER_IDLE_TIMEOUT=600
      - SERVER_LIFETIME=3600
    volumes:
      - ./pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:ro
      - ./userlist.txt:/etc/pgbouncer/userlist.txt:ro
    networks:
      - tovplay-network

networks:
  tovplay-network:
    external: true
